.img4{
    background-image: url(./images/lagos3mb.jpeg);
    min-height: 1000px;
    background-size: cover;
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}